# fly.toml app configuration file generated for sidflow-stg-polished-waterfall-1635 on 2025-11-27T13:07:53Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sidflow'
primary_region = 'lhr'

[build]
  image = 'ghcr.io/chrisgleissner/sidflow:latest'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
